<html>

<head>
    <title>
        <%=locals.title %>
    </title>
    <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
    <h1>Contact List</h1>
    <div>
        <ul>
            <% for(let i of contact_list){%>
                <li>
                    <p>
                        <%=i.name%>
                    </p>
                    <p>
                        <%=i.phone%>
                    </p>
                </li>
                <% }%>
        </ul>
    </div>
    <form action="/create-contact" method="POST">
        <input type="text" name="name" placeholder="enter name :" required>
        <input type="number" name="phone" placeholder="enter phon :" required>
        <button type="submit">add contact</button>
    </form>
    <Script src="/js/home.js" type="text/javascript">

    </Script>
</body>

</html>